framework: net6.0
strategy: min
source https://api.nuget.org/v3/index.json

nuget AWSSDK.DynamoDBv2 3.7.102.15

// PRODUCTION STUFF
nuget Microsoft.Extensions.DependencyInjection.Abstractions 6.0.0
nuget Microsoft.Extensions.Hosting 6.0.1
nuget Microsoft.Extensions.Http 6.0.0
nuget Microsoft.Extensions.Logging.Abstractions 6.0.3
nuget Newtonsoft.Json 13.0.3

// VBR STUFF
nuget Be.Vlaanderen.Basisregisters.Build.Pipeline 6.0.6 strategy:max
nuget Be.Vlaanderen.Basisregisters.DockerUtilities 1.0.1
nuget Be.Vlaanderen.Basisregisters.Aws.DistributedMutex 3.0.1

// TEST STUFF
nuget Moq 4.18.4 strategy:max
nuget FluentAssertions 6.8.0 strategy:max
nuget Microsoft.AspNetCore.Mvc.Testing 6.0.16 strategy:max
nuget Microsoft.AspNetCore.TestHost 6.0.16 strategy:max
nuget Microsoft.NET.Test.Sdk 17.4.1 strategy:max
nuget xunit 2.4.2 strategy:max
nuget xunit.runner.visualstudio 2.4.5 strategy:max

// BUILD STUFF
nuget SourceLink.Embed.AllSourceFiles 2.8.3 copy_local: true
nuget SourceLink.Copy.PdbFiles 2.8.3 copy_local: true

nuget Serilog 2.10.0
nuget Serilog.Settings.Configuration 3.3.0
nuget Serilog.Extensions.Logging 3.1.0
nuget Serilog.Sinks.Console 4.0.1
nuget Serilog.Sinks.File 5.0.0
nuget Serilog.Enrichers.Thread 3.1.0
nuget Serilog.Enrichers.Environment 2.2.0
nuget Serilog.Formatting.Compact 1.1.0
