framework: net8.0, netstandard2.1
strategy: min
source https://api.nuget.org/v3/index.json

nuget AWSSDK.DynamoDBv2 3.7.301.19

// PRODUCTION STUFF
nuget Microsoft.Extensions.DependencyInjection.Abstractions 8.0.1
nuget Microsoft.Extensions.Hosting 8.0.0
nuget Microsoft.Extensions.Http 8.0.0
nuget Microsoft.Extensions.Logging.Abstractions 8.0.1
nuget Newtonsoft.Json 13.0.3

// VBR STUFF
nuget Be.Vlaanderen.Basisregisters.Build.Pipeline 7.0.4 strategy:max
nuget Be.Vlaanderen.Basisregisters.DockerUtilities 2.0.0
nuget Be.Vlaanderen.Basisregisters.Aws.DistributedMutex 4.0.1

// TEST STUFF
nuget Moq 4.20.70 strategy:max
nuget FluentAssertions 6.12.0 strategy:max
nuget Microsoft.AspNetCore.Mvc.Testing 8.0.3 strategy:max
nuget Microsoft.AspNetCore.TestHost 8.0.3 strategy:max
nuget Microsoft.NET.Test.Sdk 17.9.0 strategy:max
nuget xunit 2.7.0 strategy:max
nuget xunit.runner.visualstudio 2.5.7 strategy:max

// BUILD STUFF
nuget SourceLink.Embed.AllSourceFiles 2.8.3 copy_local: true
nuget SourceLink.Copy.PdbFiles 2.8.3 copy_local: true

nuget Serilog 3.1.1
nuget Serilog.Settings.Configuration 8.0.0
nuget Serilog.Extensions.Logging 8.0.0
nuget Serilog.Sinks.Console 5.0.1
nuget Serilog.Sinks.File 5.0.0
nuget Serilog.Enrichers.Thread 3.1.0
nuget Serilog.Enrichers.Environment 2.3.0
nuget Serilog.Formatting.Compact 2.0.0
