framework: net6.0

source https://api.nuget.org/v3/index.json

// VBR STUFF
nuget Be.Vlaanderen.Basisregisters.Build.Pipeline 6.0.6
nuget FSharp.Core 6.0.0

// PRODUCTION STUFF
nuget Microsoft.AspNetCore.Authentication.JwtBearer 6.0.12
nuget Swashbuckle.AspNetCore.Swagger 6.4.0
nuget Swashbuckle.AspNetCore.SwaggerGen 6.4.0
nuget Swashbuckle.AspNetCore.SwaggerUI 6.4.0
nuget Microsoft.Extensions.DependencyInjection.Abstractions 6.0.0
nuget Microsoft.Extensions.Http 6.0.0
nuget Microsoft.Extensions.Logging.Abstractions 6.0.3
nuget Newtonsoft.Json 13.0.2

// TEST STUFF
nuget Microsoft.AspNetCore.Mvc.Testing 6.0.12
nuget Microsoft.NET.Test.Sdk 17.4.1
nuget xunit 2.4.2
nuget xunit.runner.visualstudio 2.4.5

// BUILD STUFF
nuget SourceLink.Embed.AllSourceFiles 2.8.3 copy_local: true
nuget SourceLink.Copy.PdbFiles 2.8.3 copy_local: true
